{% extends 'base_back.html.twig' %}

{% block title %}Hello PokemonController!{% endblock %}

{% block body %}
    {% for pokemon in pokemons %}
        <a href="{{ path('back_show_pokemon', {'id': pokemon.id}) }}">
            {{ pokemon.name }} - {{ pokemon.description }}<br/>
        </a>
        <br/>
    {% else %}
        No Pokemon found.
    {% endfor %}
    <a href="{{ path('back_create_pokemon') }}">Create Pokemon</a>
{% endblock %}
